@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>
<div class="container mt-4 bg-dark text-light rounded" style="margin-bottom: 60px;">
    <h2>Our Products</h2>
       <div class="alert alert-warning" role="alert">
        <strong>Disclaimer:</strong> This is a parody store. Pjjhhlease don't sue me, Apple! 🙃
    </div>
    <div class="row bg-dark text-light rounded">
        @foreach (Product product in Model)
        {

            <div class="col-md-4 mb-4">
                            <a href="@Url.Action("ProductView")" asp-route-id="@product.Id" class="card bg-black border-0 text-center text-light product-card">
                    <!-- Hover container -->
                    <div class="product-container position-relative">
                        <div class="image-wrapper">
                            <img class="product-image img-fluid" src="@product.ImagePath" alt="@product.Name" />
                        </div>
                        <!-- Dark overlay -->
                        <div class="overlay"></div>
                        <!-- Product name centered -->
                        <div class="product-name position-absolute bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
                                    @product.Name
                        </div>
                    </div>
                </a>
            </div>


        }
    </div>