@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Product

@{
}


<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>

    <!-- Summary of validation errors -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form asp-action="Edit" method="post" novalidate>
        <div class="form-group">
            <label asp-for="Name">Name: </label>
            <input type="text" asp-for="Name" class="form-control @(ViewData.ModelState["Name"]?.Errors.Count > 0 ? "is-invalid" : "is-valid")" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Description: </label>
            <textarea asp-for="Description" class="form-control @(ViewData.ModelState["Description"]?.Errors.Count > 0 ? "is-invalid" : "is-valid")"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="number" step="0.01" class="form-control @(ViewData.ModelState["Price"]?.Errors.Count > 0 ? "is-invalid" : "is-valid")" required/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImagePath">Image Path</label>
            <input type="text" asp-for="ImagePath" class="form-control @(ViewData.ModelState["ImagePath"]?.Errors.Count > 0 ? "is-invalid" : "is-valid")" required/>
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save Product</button>
    </form>
</div>
